* {
    background-color: pink;
    margin: 0;
    padding: 0;
    
}
.parent {
    border: 2px solid magenta;
    
}
.child {
    border: 2px solid black;
    width: 50%;
}

.image {
    height: 10rem;
    width: 8rem;
    border: 2px solid black;
    /* overflow: hidden; */
}
.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}